<article>
  <div class="m-3 text-lg font-bold">
    <a class="text-accent underline" href="representaciones">Inicio</a>
    <span> > {{ representacion?.fecha }} - {{ representacion?.sesion }}</span>
  </div>
  <section
    class="grid m-3 grid-cols-2 md:grid-cols-2 xl:grid-cols-12 gap-2 md:gap-0"
  >
    <div class="order-1 xl:order-1 xl:col-span-2">
      <div
        id="miniatura-overlay"
        (click)="changeMini()"
        class="absolute rounded-lg w-44 top-36 z-50 cursor-pointer transition-[height] duration-1000 peer"
        [ngClass]="miniaturaPatio ? 'h-32' : 'h-[70px]'"
      ></div>
      <div
        id="miniatura"
        class="rounded-lg bg-tertiary dark:bg-dark-tertiary w-44 transition-[height] duration-1000 peer-hover:bg-cuaternary dark:peer-hover:bg-dark-cuaternary"
        [ngClass]="miniaturaPatio ? 'h-32' : 'h-[70px]'"
      ></div>
    </div>
    <div class="order-3 xl:order-2 xl:col-span-8">
      <section
        #planoPatio
        class="w-fit mx-auto absolute origin-top transition-[top,left,transform] duration-1000"
        [ngClass]="
          miniaturaPatio
            ? 'scale-[0.2] top-[150px] -left-[277px]'
            : 'scale-[48%] md:scale-90 xl:scale-100 left-1/2 -translate-x-1/2 top-[280px] md:top-[300px] xl:top-[142px]'
        "
      >
        <ng-container
          *ngTemplateOutlet="
            planoButacas;
            context: {
              butacas: plano?.butacas?.slice(12)
            } as PlanoButacasContext
          "
        ></ng-container>
      </section>
      <section
        #planoEntresuelo
        class="w-fit mx-auto absolute origin-top transition-[top,left,transform] duration-1000 xl:top-[150px]"
        [ngClass]="
          !miniaturaPatio
            ? 'scale-[0.17] top-[150px] -left-[347px]'
            : 'scale-[42%] md:scale-[80%] xl:scale-100 left-1/2 -translate-x-1/2 top-[280px] md:top-[300px] xl:top-[142px]'
        "
      >
        <ng-container
          *ngTemplateOutlet="
            planoButacas;
            context: {
              butacas: plano?.butacas?.slice(0, 12)
            } as PlanoButacasContext
          "
        ></ng-container>
      </section>
    </div>
    <div class="order-2 xl:order-3 xl:col-span-2">
      <div class="flex flex-col items-stretch text-lg gap-2">
        <button
          class="bg-tertiary dark:bg-dark-tertiary px-4 py-1 md:py-2 rounded-lg hover:bg-cuaternary dark:hover:bg-dark-cuaternary"
          (click)="descargarPlano()"
        >
          Descargar plano
        </button>
        <button
          class="bg-tertiary dark:bg-dark-tertiary px-4 py-1 md:py-2 rounded-lg hover:bg-cuaternary dark:hover:bg-dark-cuaternary"
          (click)="descargarButacas()"
        >
          Descargar listado
        </button>
        <div class="flex self-center gap-3">
          <theater-icon
            class="text-green-500"
            [type]="Types.seat"
            [width]="23"
          ></theater-icon>
          <span>{{ recuentoLibres }}</span>
          <theater-icon
            class="text-red-500"
            [type]="Types.seat"
            [width]="23"
          ></theater-icon>
          <span>{{ recuentoOcupadas }}</span>
        </div>
      </div>
    </div>
  </section>
</article>

<ng-template #planoButacas let-butacas="butacas">
  <div
    *ngFor="let fila of butacas"
    class="flex min-h-6 last:mb-[305px] md:last:mb-[120px] xl:last:mb-24"
  >
    <div
      *ngFor="let butaca of fila"
      (click)="selectButaca(butaca)"
      class="flex justify-center items-center w-6 h-6 bg-tertiary dark:bg-dark-tertiary rounded-lg m-0.5 has-tooltip"
      [ngClass]="
        butaca.estado !== 'Vacia'
          ? 'cursor-pointer hover:bg-cuaternary dark:hover:bg-dark-cuaternary hover:shadow-lg hover:scale-110 transition-transform'
          : 'bg-transparent dark:bg-transparent'
      "
    >
      @if (butaca?.estado === 'Pasillo') {
      <b class="text-lg">{{ butaca?.fila }}</b>
      } @else if (butaca?.estado === 'Vacia') { } @else {
      <span
        class="tooltip rounded-lg shadow-lg p-1 bg-tertiary dark:bg-dark-tertiary -mt-28 text-base font-medium w-max"
      >
        <p class="uppercase text-center">{{ butaca?.zona }}</p>
        @if (butaca?.estado === 'Ocupada seleccionada' || butaca?.estado ===
        "Ocupada") {
        <p>{{ butaca?.asignadoA }}</p>
        } @else {
        <p>{{ butaca?.estado }}</p>
        }
        <p>Fila {{ butaca?.fila }} Butaca {{ butaca?.num_butaca }}</p>
      </span>
      <div
        [ngClass]="{
          'text-green-500': butaca?.estado === 'Libre',
          'text-blue-500': butaca?.estado === 'Seleccionada',
          'text-red-500': butaca?.estado === 'Ocupada',
          'text-yellow-500': butaca?.estado === 'Ocupada seleccionada',
          'text-purple-700': butaca?.estado === 'Rota',
          'text-purple-400': butaca?.estado === 'Rota seleccionada'
        }"
      >
        <theater-icon [type]="Types.seat" [width]="23"></theater-icon>
      </div>
      }
    </div>
  </div>
</ng-template>

<!-- seccion con el escenario -->
<footer
  class="bg-tertiary dark:bg-dark-tertiary rounded-lg m-3 shadow-lg fixed bottom-0 w-auto left-0 right-0 z-50"
>
  <div class="grid grid-cols-2 md:grid-cols-5 p-3 gap-x-3">
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 order-2 md:order-1 col-span-1 md:col-span-2 self-center"
    >
      <button
        class="bg-accent hover:bg-opacity-70 dark:hover:bg-opacity-70 text-sm md:text-md px-4 py-1 md:py-2 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed col-span-2 md:col-span-1"
        [disabled]="getMarcarDesmarcarRotaDisabled()"
        (click)="marcarDesmarcarRota()"
      >
        (Des)marcar rota
      </button>
    </div>
    <h1
      class="order-1 md:order-2 col-span-2 md:col-span-1 text-sm md:text-2xl xl:text-3xl transition-all font-bold m-auto"
    >
      ESCENARIO
    </h1>
    <div class="order-3 md:order-3 col-span-1 md:col-span-2 self-center">
      <form [formGroup]="planoForm" class="grid grid-cols-2 gap-3">
        <input
          *ngIf="ocupadasSeleccionadas === 0"
          type="text"
          class="bg-tertiary dark:bg-dark-tertiary border-b-2 border-cuaternary text-center text-sm md:text-xl xl:text-3xl col-span-2 md:col-span-1"
          placeholder="Nombre"
          formControlName="nombre"
        />
        <button
          *ngIf="ocupadasSeleccionadas === 0"
          class="bg-accent hover:bg-opacity-70 dark:hover:bg-opacity-70 text-sm md:text-xl xl:text-3xl px-4 py-1 md:py-2 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed col-span-2 md:col-span-1"
          [disabled]="
            planoForm.invalid ||
            seleccionadas === 0 ||
            ocupadasSeleccionadas !== 0 ||
            rotasSeleccionadas !== 0
          "
          (click)="asignarButacas()"
        >
          Asignar
        </button>
        <!-- <div *ngIf="ocupadasSeleccionadas !== 0"></div> -->
        <button
          *ngIf="ocupadasSeleccionadas !== 0"
          class="bg-accent hover:bg-opacity-70 dark:hover:bg-opacity-70 text-sm md:text-3xl px-4 py-1 md:py-2 rounded-lg disabled:opacity-50 disabled:cursor-not-allowed col-span-2 md:col-span-1 md:col-start-2"
          [disabled]="
            seleccionadas !== 0 ||
            ocupadasSeleccionadas === 0 ||
            rotasSeleccionadas !== 0
          "
          (click)="desasignarButacas()"
        >
          Desasignar
        </button>
      </form>
    </div>
  </div>
</footer>
