<div
  class="fixed inset-0 z-10 flex items-center justify-center bg-black bg-opacity-60"
  *ngIf="showModal"
>
  <div
    class="bg-primary dark:bg-dark-primary w-11/12 md:w-1/2 lg:w-1/3 xl:w-1/4 rounded-lg shadow-xl p-4"
  >
    <h1 class="text-3xl font-bold text-center">
      <span *ngIf="!representacion">Nueva </span
      ><span *ngIf="representacion">Editar </span>representación
    </h1>

    <form class="flex flex-col" [formGroup]="representacionForm">
      <label class="mt-2" for="obra">Nombre de la función</label>
      <div class="grid grid-cols-1">
        <div class="col-span-1">
          <theater-select [selected]="obraSeleccionada?.name">
            <div
              *ngFor="let obra of obras"
              class="cursor-pointer p-2 flex justify-between hover:bg-primary hover:dark:bg-dark-primary hover:first:rounded-t-lg hover:last:rounded-b-lg"
              (click)="setObra(obra)"
            >
              <span>{{ obra?.name }}</span>
              <theater-icon
                *ngIf="obraSeleccionada?.id === obra?.id"
                class="self-center"
                [type]="Types.check"
                [width]="30"
              ></theater-icon>
            </div>
          </theater-select>
        </div>
      </div>

      <label class="mt-2" for="fecha">Fecha</label>
      <input
        type="date"
        id="fecha"
        class="border border-cuaternary rounded-lg p-2 dark:bg-dark-cuaternary lg:h-12 w-full"
        formControlName="fecha"
      />

      <label for="session" class="mt-2">Sesión</label>
      <div class="grid grid-cols-1">
        <div class="col-span-1">
          <theater-select [selected]="sesionSeleccionada?.label">
            <div
              *ngFor="let sesion of sesiones"
              class="cursor-pointer p-2 flex justify-between hover:bg-primary hover:dark:bg-dark-primary hover:first:rounded-t-lg hover:last:rounded-b-lg"
              (click)="setSesion(sesion)"
            >
              <span>{{ sesion?.label }}</span>
              <theater-icon
                *ngIf="sesionSeleccionada?.value === sesion?.value"
                class="self-center"
                [type]="Types.check"
                [width]="30"
              ></theater-icon>
            </div>
          </theater-select>
        </div>
      </div>

      <label for="grupo" class="mt-2">Grupo</label>
      <div class="grid grid-cols-1">
        <div class="col-span-1">
          <theater-select [selected]="grupoSeleccionado?.name">
            <div
              *ngFor="let grupo of grupos"
              class="cursor-pointer p-2 flex justify-between hover:bg-primary hover:dark:bg-dark-primary hover:first:rounded-t-lg hover:last:rounded-b-lg"
              (click)="setGrupo(grupo)"
            >
              <span>{{ grupo?.name }}</span>
              <theater-icon
                *ngIf="grupoSeleccionado?.id === grupo?.id"
                class="self-center"
                [type]="Types.check"
                [width]="30"
              ></theater-icon>
            </div>
          </theater-select>
        </div>
      </div>

      <div class="flex justify-between">
        <button
          class="bg-red-500 text-white rounded-lg px-4 py-1 mt-4"
          (click)="cancel.emit()"
        >
          Cancelar
        </button>

        <button
          [disabled]="representacionForm.invalid"
          class="bg-green-500 text-white rounded-lg px-4 py-1 mt-4 disabled:opacity-50"
          (click)="onSave()"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
